name: Waka Readme

on:
  schedule:
    # Runs at 12am IST
    - cron: '*/10 * * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_SHORT_INFO: "False"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_PROJECTS: "False"
          SHOW_LINES_OF_CODE: "False"
          SHOW_LOC_CHART: "False"
          LOCALE: "en"
          SHOW_OS: "True"
          SHOW_DAYS_OF_WEEK: "False"
          SHOW_COMMIT: "False"
          COMMIT_MESSAGE: "Updated with Wakatime Metrics"
          COMMIT_USERNAME: "wakatime-bot"
